@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: white;
  background-color: #1a202c;

}

.ira {
  color: #000000;
  background-color: #fe7370;
}

.confianza {
  color: #000000;
  background-color: #91de5e
  ;
}

.neutral {
  color: #000000;
  background-color: #ffffff;
}

.vigilancia {
  color: #000000;
  background-color: #ff8001;
}

.tristeza {
  color: #000000;
  background-color: #009bee;
}

.optimismo {
  color: #000000;
  background-color: #F49794;
}

.remordimiento {
  color: #4688df;
  background-color: #FBCCB1;
}

.admiracion {
  color: #000000;
  background-color: #64c803;
}

.serenidad {
  color: #000000;
  background-color: #ffffbe;
}

.sorpresa {
  color: #000000;
  background-color: #02cafd;
}

.asco {
  color: #000000;
  background-color: #a973d1;
}

.distracion {
  color: #000000;
  background-color: #cfeafe;
}

.pena {
  color: #000000;
  background-color: #0037da;
}

.amor {
  color: #000000;
  background-color: #dbe537;
}

.alegria {
  color: #000000;
  background-color: #ffea00;
}

.asombro {
  color: #000000;
  background-color: #74b9ff;
}

.miedo {
  color: #000000;
  background-color: #00c279;
}

.decepcion {
  color: #000000;
  background-color: #a5bafe;
}

.extasis {
  color: #000000;
  background-color: #feff0b;
}

.aprobacion {
  color: #000000;
  background-color: #cbff9c;
}

.agresividad {
  color: #000000;
  background-color: #ff885e;
}

.alarm-content{
  color:#ffffff;
  background-color: #a03939;
}
.interes{
  color:#000000;
  background-color: #ffc48c;
}